<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>index</title>
</head>
<body>
    <header>
        <h1>LearningEnglishPlace</h1>
    </header>
    <div class="containar">
        <div class="position">
            <div class="set">
                <h3>1:動詞関連</h3>
                <ul>
                    <li><a href="/tense1">時制(1)</a></li>
                    <li><a href="/tense2">時制(2)</a></li>
                    <li><a href="/auxiliary1">助動詞(1)</a></li>
                    <li><a href="/auxiliary2">助動詞(2)</a></li>
                    <li><a href="/subjunctive1">仮定法(1)</a></li>
                    <li><a href="/subjunctive2">仮定法(2)</a></li>
                    <li><a href="/passive">受動態</a></li>
                    
                    
                </ul>
            </div>
            <div class="set">
                <h3>2:準動詞</h3>
                <ul>
                    <li><a href="">不定詞(1)</a></li>
                    <li><a href="">不定詞(2)</a></li>
                    <li><a href="">動名詞(1)</a></li>
                    <li><a href="">動名詞(2)</a></li>
                    <li><a href="">分詞(1)</a></li>
                    <li><a href="">分詞(2)</a></li>
                    
                    
                </ul>
            </div>
            <div class="set">
                <h3>3:構造系</h3>
                <ul>
                    <li><a href="">関係詞(1)</a></li>
                    <li><a href="">関係詞(2)</a></li>
                    <li><a href="">比較(1)</a></li>
                    <li><a href="">比較(2)</a></li>
                    <li><a href="">疑問</a></li>
                    <li><a href="">否定</a></li>
                    <li><a href="">倒置・強調構文・語順</a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="position">
            <div class="set">
                <h3>4:品詞系</h3>
                <ul>
                    <li><a href="">前置詞</a></li>
                    <li><a href="">接続詞</a></li>
                    <li><a href="">冠詞・名詞</a></li>
                    <li><a href="">代名詞</a></li>
                    <li><a href="">形容詞</a></li>
                    <li><a href="">副詞</a></li>
                    
                    
                </ul>
            </div>
            <div class="set">
                <h3>5:文型</h3>
                <ul>
                    <li><a href="">第1〜第3文型の語法</a></li>
                    <li><a href="">第4文型の語法</a></li>
                    <li><a href="">第5文型の語法(1)</a></li>
                    <li><a href="">第5文型の語法(2)</a></li>
                    
                    
                </ul>
            </div>
        </div>
        
    </div>
    
    <footer></footer>
</body>
</html>