<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>時制(1)</h1>
        <h3>現在形・進行形</h3>
    </header>
    <div class="containar">
        <div>
            <h4>①「現在形」の基本</h4>
            <div>
                <h5>現在形の用法</h5>
                <div>
                    <p>①習慣　I go to school. →「私は学校に行く」</p>
                    <p>②不変の真理　The sun <span>rises</span> in the east. →「太陽は東からのぼる」</p>
                    <p>③確定した未来　The train <span>arrives</span> at eight. →「その電車は8時に着く」</p>
                </div>
                <div>
                    <p><span>☆</span>英語の核心</p>
                    <p>「現在形」＝「現在・過去・未来形」と考える！</p>
                    <p>
                        つまり、The train arrives at eight. も「その電車は（過去も今日も未来も）8時に着く」
                        ということ
                    </p>
                    
                </div>
            </div>
        </div>
        <div>
            <h4>②「現在形」の応用</h4>
            <p>何が出る？</p>
            <p>
                「時・条件を表す副詞節の中では未来形の代わりに現在形（もしくは現在完了形）」
                というルールがある。
            </p>
            <p>どう考える？</p>
            <p><span>ポイント①</span> 「時・条件を表す副詞節」を作るのは「従属接続詞」です。
               ここでは特に狙われるものを挙げます。
            </p>
            <p>(1)「時」の従属接続詞</p>

            <div>
                <p><span>when</span>「〜するとき」</p>
                <p><span>while</span>「〜する間」</p>
                <p><span>before</span>「〜する前」</p>
                <p><span>as soon as</span>「〜するとすぐに」</p>                        <p><span>by the time</span>「〜するまでには」/p>
            </div>
            <p>(2)「条件」の従属接続詞</p>
            <div>
                <p><span>if</span>「もし〜なら」</p>
                <p><span>unless</span>「〜しない限り」</p>
            </div>
            <p>
                <span>ポイント②</span>あくまで<span>副詞節の「中だけ」が現在形</span>です。
                副詞節の外（主節）は、未来形（助動詞など）を使います。
            </p>
            <p>
                (When s <span>v</span>),s <span>v</span>.→主節は「未来形」
                              ↓
                              副詞節の中だけ「現在形」
            </p>
            <p>
                 また、「時・条件を表す<span>副詞節の中では</span>現在形」なので、「名詞節」のときは普通
                に「未来の時は未来の形」にします。副詞節と名詞節の区別は、直前に「他動詞
                があるかどうか」です。他動詞の後ろにwhenやifがきたら、それは副詞節ではなく
                「名詞節」になります。ここで気になるのが「自動詞と他動詞の判断」ですが、
                実は一瞬で判断できるようになります。
            </p>
            <div>
                <p>
                    自動詞→<span>「あっそう」で終われる動詞</span>
                          ※後ろに「名詞」はこない。
                </p>
                <p>
                    他動詞→<span>「何を？」と聞き返す動詞</span>
                          ※後ろに「名詞」がくる。
                </p>
            </div>
        
        </div>
        <div>
            <h4>③「進行形」の正しい意味</h4>
            <p>何が出る？</p>
            <p>
                入試では「進行形にできない動詞」や「進行形が未来の予定を表す用法」がよく
                出ます。一般には「状態動詞は進行形にできない」とされ、以下のものが挙げら
                ます。
            </p>
            <p>状態動詞（進行形にできない動詞）の一例</p>
            <div>
                <ul>
                    <li>live「住んでいる」</li>
                    <li>belong to「属している」</li>
                    <li>resemble「似ている」</li>
                    <li>like「好む」</li>
                    <li>know「知っている」</li>
                    <li>believe「信じている」</li>
                </ul>
            </div>
            <p>どう考える？</p>
            <p>
                  進行形にできない動詞を暗記しなくても、「<span>5秒ごとに中断・再開できない動詞は進行形にできない</span>」
                というルールで全て解決します。
                  例えば、knowやlikeは5秒ごとに「記憶を消したり戻りたり」、はたまた「好きになったり嫌いになったり」を意図的に
                できる人はいませんね。だから、×）be knowing/be likingという形はありえません。
                  一方、「5秒ごとに中断・再開できる動詞」、例えばwrite「書く」やstudy「勉強する」は進行形(be writing・be s
                tudying)にできます。
                  haveは「持つ」という意味では進行形にできませんが、「食べる・飲む」という意味なら進行形にできるのも、この「5秒
                ルール」で解決できますね。
            </p>
        </div>

    </div>
    <footer></footer>
</body>
</html>