<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>時制(2)</h1>
        <h3>完了形</h3>
    </header>
    <div class="containar">
        <div>
            <h4>①「完了形」の考え方</h4>
            <p>何がでる？</p>
            <p>
                中学で習う現在完了形、高校で習う過去完了形・未来完了形、どれもよく出ます。
            </p>
            <p>現在完了形(have + p.p.)の3用法</p>
            <div>
                <p>①継続        「（過去から今まで）ずっと〜している」</p>
                <p>②完了・結果   「（過去から始めて）ちょうど今〜したところだ（その結果・・・だ）」</p>
                <p>③経験        「（過去から今までに）〜した経験がある（今その経験を持っている）」</p>
            </div>
            <p>どう考える？</p>
            <p>
                
            </p>
        </div>

    </div>
    <footer></footer>
    
</body>
</html>